<h3 class="text-white text-center">Home administrador</h3>


<div class="home-container d-flex justify-content-center mt-5 flex-wrap">
        <a href="/candidato" class="mt-3 grid-element"><img src="assets/img/Candidato.jpg" alt=""><span >Candidatos</span></a>
        <a href="/puesto" class="mt-3 grid-element"><img src="assets/img/Puesto.jpg" alt=""><span >Puesto Electivo</span></a>
        <a href="/partido" class="mt-3 grid-element"><img src="assets/img/Partido.jpg" alt=""><span>Partido</span></a>
        <a href="/ciudadano" class="mt-3 grid-element"><img src="assets/img/Ciudadano.jpg" alt=""><span >Ciudadanos</span></a>
        <a href="/eleccion" class="mt-3 grid-element"><img src="assets/img/Elecciones.jpg" alt=""><span >Elecciones</span></a>
</div>

