<h3 class="text-white text-center">Home administrador</h3>

<div class="home-container">
        <a href="/candidato" class="btn btn-primary btn-lg"><img src="assets/img/votacion.jpg" alt="">Candidatos</a>

        {{!-- <a href="/partido" class="btn btn-primary btn-lg">Partido</a>
        <a href="/puesto" class="btn btn-primary btn-lg">Puesto Electivo</a>
        <a href="/ciudadano" class="btn btn-primary btn-lg">Ciudadanos</a>
        <a href="/eleccion" class="btn btn-primary btn-lg">Elecciones</a> --}}
</div>
