<main>

   <div class="d-flex flex-column justify-content-center align-content-center">
      <h1 class="text-center text-warning">Pagina no encotrada</h1>
      <a class=" text-center text-white" href="/">Ir a inicio</a>
      <hr/>
   </div>


</main>