<main>

   <div class="d-flex flex-column justify-content-center align-content-center">
      <h1>Pagina no encotrada</h1>
      <hr/>
      <a class="navbar-brand" href="/">Ir a inicio</a>
   </div>


</main>