.mr-1{
    margin-right: 1%;
}

.input-error{
  border-color: red;
  border-width: medium;  
}

.btnvoto{
  font-weight: bold;
}

.margin-top-2{
    margin-top: 2%;
}

.form-inline{
  display: inline;
}

.img-size{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.admin-dark{
  background: rgb(22,22,22);
  background: linear-gradient(180deg, rgba(22,22,22,1) 17%, rgba(36,36,36,1) 41%, rgba(45,45,45,1) 82%);
}


/* votacion */

.img-card {
  border-radius: 100%;
}

.img-candidato-card {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.img-partido-detalle {
  width: 200px;
}
/**/
.notc {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  vertical-align: top;
  transition: transform 0.2s ease-in-out;
  
}

.notc img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid #2bbb07;
}

.notc a {
  text-decoration: none;
  cursor: not-allowed;
}
.notc a samp{
  display: block;
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  margin-top: 10px;
  padding-top: 12px;
}

.notc img:hover {
  cursor: not-allowed;
  /* box-shadow: 0 0 50px 5px #2bbb07; */
}


.c {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  vertical-align: top;
  transition: transform 0.2s ease-in-out;
}

.c:hover {
  transform: scale(1.1);
}
.c img:hover {
  box-shadow: 0 0 50px 5px rgba(5, 238, 255, 0.3);
}

.c:last-child {
  margin-right: 0; 
}

.c img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid #07a0bb;
}

.c a {
  text-decoration: none;
}
.c a samp{
  display: block;
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  margin-top: 10px;
  padding-top: 12px;
}
/*Home administrador*/

.home-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  transition: transform 0.2s ease-in-out;
}

.grid-element{
  text-decoration: none;
  text-align: center;
}

.grid-element:hover{
  transform: scale(1.05);
}

.grid-element img{
  width: 300px;
  height: 400px;
}
.grid-element span{
  display: block;
  font-size: 30px;
  font-weight: lighter;
  color: #fff;
}

/*Resultados*/

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}




