<div class="col-12 col-lg-10 offset-lg-1">
    <h1 class="text-white text-center" id="textToDo">Votacion</h1>

    <div class="col-12 col-lg-12 mt-5 d-flex flex-wrap justify-content-evenly" id="posicionesContainer">
{{!--      
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                            src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..."></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">Nombre: Juan</h1>
                        <div class="fs-5 mb-5">
                            <span>Partido:</span>
                            <span>PLD</span>
                        </div>
                        <img class="img-partido-detalle" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="">
                        <p class="lead">Descripcion partido</p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">Votar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}

    </div>
</div>