    

<div class="d-flex align-items-center flex-column">
    
    <h1 class="text-white text-center" id="textToDo">Votacion</h1>
    <h3 class="text-center text-info mb-3">Puestos disponibles para votar</h3>
    {{#each puestos  as |p|}}
    <a href="/votar/{{p.Id}}" class="btn btn-primary btn-lg my-1">{{p.name}}</a>
      {{/each}}
        
       
</div>